.login-content {
    margin: 16px auto 0 auto;
    max-width: 325px;
    padding: 16px;
    background-color: #FFFFFF;
    
}

.title {
    cursor: default;
}

.login-title {
    color: #8149ff;
    margin: 8px 0;
    font-size: 16px;
}

.login-content p {
    text-align: center;
}

.login-error {
    font-size: 14px;
    color: #e35454;
    margin: auto;
    text-align: center;
    border: 1px solid #e35454;
    background-color: rgba(255, 127, 127, 0.2);
    padding: 4px;
}

.login-info {
    margin-top: 8px;
    color: #5c5c5c;
    font-size: 16px;
}

.connect-button {
    text-align: center;
}